---
const { color, text, url } = Astro.props;
---

<a href={url}>
  <article
    class='flex justify-between items-center p-4 rounded-xl w-64 shadow-xl h-20'>
    <slot />
  </article>
</a>

<style scoped define:vars={{ color, text }}>
  article {
    background-color: var(--color);
    color: var(--text);
  }
  a {
    all: unset;
    cursor: pointer;
  }
</style>
